@font-face {
  font-family: "icons";
  src: url('../font/icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}


@mixin icon-dot-closed {
  @include icon;
  content: "\EA01";
}

@mixin icon-dot-open {
  @include icon;
  content: "\EA02";
}

@mixin icon-facebook {
  @include icon;
  content: "\EA03";
}

@mixin icon-instagram {
  @include icon;
  content: "\EA04";
}

@mixin icon-linkedin {
  @include icon;
  content: "\EA05";
}

@mixin icon-play {
  @include icon;
  content: "\EA06";
}

@mixin icon-separator {
  @include icon;
  content: "\EA07";
}

@mixin icon-youtube {
  @include icon;
  content: "\EA08";
}


.icon-dot-closed:before { content: "\EA01" }
.icon-dot-open:before { content: "\EA02" }
.icon-facebook:before { content: "\EA03" }
.icon-instagram:before { content: "\EA04" }
.icon-linkedin:before { content: "\EA05" }
.icon-play:before { content: "\EA06" }
.icon-separator:before { content: "\EA07" }
.icon-youtube:before { content: "\EA08" }
