// --------------------------------------------------------------------------
//
//   Gallery
//
// --------------------------------------------------------------------------

.gallery {

}


  .galleryRow {
    border-top: 1px solid $black;
    display: flex;
  }

    .galleryRow-image {
      flex-grow: 1;


      border-right: 1px solid $black;

      background-size: 102%;
      background-position: center;
      background-repeat: no-repeat;

      .galleryRow--three & {
        height: 50vw;
      }
    }

  .galleryRow--one {

    .galleryRow-block {
      height: 45vw;
    }
  }

  .galleryRow--two {

    @include media($mobile-down) {
      flex-direction: column;
    }
  }

    .galleryRow-block {
      position: relative;
      flex-grow: 1;
      height: 30vw;

      background-size: 102%;
      background-position: center;
      background-repeat: no-repeat;

      // cursor: pointer;

      @include media($mobile-down) {
        flex-shrink: 0;
        height: 50vw;
        border-bottom: 1px solid $black;
      }
    }

    .galleryRow-block--video .galleryRow-block-link {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

      .galleryRow-block-link-content {
        @include center-align(absolute);
        width: 100%;

        color: $white;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;

        &:before {
          @include icon-play;
          display: block;
          margin-bottom: 5px;

          font-size: 50px;
        }
      }
