// --------------------------------------------------------------------------
//
//  Image Grid
//
// --------------------------------------------------------------------------

.imageGrid {
  margin-top: 100px;

  @include media($mobile-down) {
    margin-top: 30px;
  }
}

  .imageGrid-row {
    @include clearfix;
    margin-bottom: 20px
  }

  .imageGrid-image {
    display: block;
    min-height: 350px;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;

    @include media($mobile-down) {
      min-height: calc(40vw - 10px);
    }
  }

  .imageGrid-row--left .imageGrid-image {

    &:nth-child(1) {
      float: left;
      width: 40%;
      height: 720px;

      @include media($mobile-down) {
        height: 80vw;
      }
    }

    &:nth-child(2) {
      margin-bottom: 20px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      width: calc(60% - 20px);
      margin-left: calc(40% + 20px)
    }
  }

  .imageGrid-row--right .imageGrid-image {

    &:nth-child(1) {
      float: right;
      width: 40%;
      height: 720px;

      @include media($mobile-down) {
        height: 80vw;
      }
    }

    &:nth-child(2) {
      margin-bottom: 20px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      width: calc(60% - 20px);
    }
  }
