// --------------------------------------------------------------------------
//
//   Share Links
//
// --------------------------------------------------------------------------

.shareLinks {

}

  .shareLinks-link {
    font-size: 32px;
    margin-left: 10px;
    color: $dark-gray;

    &:hover {
      color: $white;
    }
  }
