// --------------------------------------------------------------------------
//
//  Sections
//
// --------------------------------------------------------------------------

@mixin center {
  @include outer-container;

  @include media($desktop-down) {
    width: $desktop;
  }

  @include media($tablet-down) {
    width: $tablet;
  }

  @include media($mobile-down) {
    max-width: 100%;
    width: auto;
  }
}


.wrapper {
  display: block;
  position: relative;
  padding-left: $gap;
  padding-right: $gap;
}

  .container {
    @include center;
  }


.pageSection {
  padding-top: 100px;
  padding-bottom: 100px;
}
