// --------------------------------------------------------------------------
//
//  Sections
//
// --------------------------------------------------------------------------

@mixin center {
  @include outer-container;

  @include media($desktop-down) {
    width: $desktop;
  }

  @include media($tablet-down) {
    width: $tablet;
  }

  @include media($mobile-down) {
    max-width: 100%;
    width: auto;
  }
}


.wrapper {
  display: block;
  position: relative;
  padding-left: $gap;
  padding-right: $gap;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .container {
    @include center;
  }


.pageSection {
  padding-top: 100px;
  padding-bottom: 100px;

  @include media($mobile-down) {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

  .pageSection--centered {
    text-align: center;
  }

  .pageSection--dark {
    background-color: $black;

    p, h1, h2, h3, h4, h5, h6 {
      color: $white;
    }

    @include media($mobile-down) {
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;

    }
  }


  .pageSection--medium {

    .container {
      @include outer-container(800px);
    }
  }

  .pageSection--small {

    .container {
      @include outer-container(600px);
    }
  }

