// --------------------------------------------------------------------------
//
//  Buttons
//
// --------------------------------------------------------------------------

@mixin button ($colour1: $black) {
  position: relative;
  display: inline-block;
  padding: 0.2em 1.7em;
  background-color: $colour1;
  border: none;
  border-radius: $base-border-radius;
  outline: 0;
  zoom: 1;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;

  color: $white;
  white-space: nowrap;
  vertical-align: baseline;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;

  &:hover {
    outline: 0;
    color: $white;
  }

  &:active,
  &.active {
    outline: 0;
  }

  &.disabled,
  &[disabled] {
    background-image: none;
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
  }
}


  .button--left {

    &:after {
      content: '';
      position: absolute;
      right: calc(-1.7em + 1px);
      top: 0;
      height: 100%;
      border-style: solid;
      border-width: 1.7em 1.7em 0 0;
      border-color: $black transparent transparent transparent;

    }
  }

  .button--right {
    margin-left: 2em;

    &:after {
      content: '';
      position: absolute;
      left: calc(-1.7em + 1px);
      top: 0;
      height: 100%;
      border-style: solid;
      border-width: 0 0 1.7em 1.7em;
      border-color:  transparent transparent $black transparent;

    }
  }

  .button--dark {
    background-color: $black;
    color: $white;
  }
