// --------------------------------------------------------------------------
//
//  Buttons
//
// --------------------------------------------------------------------------

$button-transition: all 400ms ease-in-out;

@mixin button ($colour1: $black) {
  position: relative;
  display: inline-block;
  padding: 0.4em 1.7em;
  color: $black;
  background-color: $white;
  border: 1px solid $black;
  border-radius: $base-border-radius;
  outline: 0;
  zoom: 1;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;

  white-space: nowrap;
  vertical-align: baseline;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;

  transition: $button-transition;

  &:hover {
    outline: 0;
    color: $black;
    background-color: $white;
  }

  &:active {
    outline: 0;
  }

  &[disabled] {
    background-image: none;
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
  }

  @include media($mobile-down) {
    display: block;
    margin: 10px 0 0;
    padding: 10px 0;

    &:after,
    &:before {
      display: none;
    }
  }
}

.button {
  @include button;
}

  .button--left {
    padding-right: 0em;
    border-right: none;
    z-index: 1;

    &:after {
      z-index: -1;
      content: '';
      position: absolute;
      right: calc(-1.9em + 1px);
      top: -1px;
      height: calc(100% + 2px);
      width: 3.5em;
      border: 1px solid $black;
      border-left: none;
      transform: skewX(-45deg);
    }
  }

  .button--right {
    margin-left: 5em;
    padding-left: 0em;

    border-left: none;

    &:after {
      z-index: -1;
      content: '';
      position: absolute;
      left: calc(-1.9em + 1px);
      top: -1px;
      height: calc(100% + 2px);
      width: 3.5em;
      border: 1px solid $black;
      border-right: none;
      transform: skewX(-45deg);

    }
  }

  .button--dark {
    background-color: $black;
    color: $white;

    &:after,
    &:before {
      background-color: $black;
      color: $white;

      transition: $button-transition;
    }

    &:hover {
      &:after,
      &:before {
        background-color: $white;
      }
    }
  }
