// --------------------------------------------------------------------------
//
//   Section Split
//
// --------------------------------------------------------------------------

.sectionSplit {
  min-height: 1px;
}

  .sectionSplit--small {
    @include span-columns(4);

    @include media($tablet-down) {
      @include span-columns(12);
    }
  }

  .sectionSplit--large {
    @include span-columns(7);
    @include shift(1);

    @include media($tablet-down) {
      @include span-columns(12);
      @include shift(0);
    }

    .sectionSplit-content {
      @include span-columns(6 of 7);

      @include media($mobile-down) {
        @include span-columns(4);
        margin-bottom: 20px;
      }
    }
  }

  .shift--one {
    margin-left: 180px;

    @include media($mobile-down) {
      margin-left: 0;
    }
  }

  .shift--two {
    @include shift(1);
  }


  .sectionSplit-actions {
    @include span-columns(12);
    margin-top: 30px;
  }
