// --------------------------------------------------------------------------
//
//   Section Titles
//
// --------------------------------------------------------------------------

.sectionTitle {
  display: inline-block;
  margin-bottom: 60px;

  color: $black;
  font-size: 24px;
  text-align: left;

  @include media($mobile-down) {
    font-size: 12px;
    margin-bottom: 15px;
  }
}

  .sectionTitle-number {
    display: inline-block;
    vertical-align: middle;
    font-size: 5em;
    font-weight: 800;
    line-height: 1;
  }

  .sectionTitle-title {
    display: inline-block;
    vertical-align: middle;
    padding-left: 14px;
    margin-left: 10px;
    border-left: 1px solid $black;
    font-weight: 800;
    font-size: 2em;
    line-height: 1;
  }
