// --------------------------------------------------------------------------
//
//   Separator
//
// --------------------------------------------------------------------------

.separator {
  border: none;
  background-color: transparent;
  margin: 10px 0 25px;

  &:after {
    @include icon-separator;
    color: $white;
    font-size: 20px;
  }
}

  .separator--dark {

    &:after {
      color: $black;
    }
  }
