// --------------------------------------------------------------------------
//
//  Home Page
//
// --------------------------------------------------------------------------


.heroSection {
  position: relative;
  height: 800px;

  @include media($mobile-down) {
    height: 250px;
  }
}

  .heroTagline {
    @include vertical-align(absolute);
    right: 0;

    color: $white;
    font-weight: 800;
    font-size: 80px;
    line-height: 1.1;

    @include media($mobile-down) {
      font-size: 30px;
    }
  }

    .heroTagline-separator {
      display: block;
      font-size: 16px;
      line-height: 1;
    }

