// --------------------------------------------------------------------------
//
//   Our Work
//
// --------------------------------------------------------------------------

.portfolioTeaser {
  display: block;
  border-top: 1px solid $white;
  background-color: $black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 0;

  color: $white;

  &:hover {
    border-top: 1px solid $black;
    background-image: none !important; // Override an inline value
    background: $white;
    color: $black;
  }

  @include media($mobile-down) {
    padding: 40px 0;
  }
}

  .portfolioTeaser-content {
    @include span-columns(10);
    @include shift(2);

    @include media($mobile-down) {
      @include shift(1);
    }
  }

    .portfolioTeaser-title {
      margin-bottom: 0;

      color: $white;
      font-size: 36px;
      font-weight: 900;
      text-transform: uppercase;

      @include media($mobile-down) {
        font-size: 24px;
      }

      .portfolioTeaser:hover & {
        color: $black;
      }
    }

    .portfolioTeaser-services {
      display: block;
      margin-top: 10px;
    }
